@use './config/index.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    text-align: center;
    scroll-behavior: smooth;
    background: $color-bg;
    color: $color-primary;
}
.flex {
    display: flex;
}
:where(.flex) {
    justify-content: center;
    align-items: center;
}
.skeli {
    @include skeleton();
}

@mixin containerChild() {
    width: min($maxWidth, 100% - 1rem);
    margin-inline: auto;
}
.limit-width {
    @include containerChild();
    margin: 0 auto;
}
